@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #B8D5B8;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #BC412B;
  height: 14em;
  width: 100vw;
}
.header .header__imgContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #BC412B;
}
.header .header__imgContainer .header__imgContainer--imgJob, .header .header__imgContainer .header__imgContainer__img {
  width: 12em;
  height: 12em;
  text-align: center;
  background-color: #BC412B;
}
@media only screen and (max-width: 750px) {
  .header .header__imgContainer .header__imgContainer--imgJob, .header .header__imgContainer .header__imgContainer__img {
    width: 7em;
    height: 7em;
  }
  .header .header__imgContainer .header__imgContainer__img {
    width: 7em;
    height: 7em;
  }
}
.header .header__h1 {
  font-family: "Raleway", sans-serif;
  color: #D7B49E;
  font-size: 62px;
  font-weight: 900;
  text-transform: capitalize;
  background-color: #BC412B;
}
@media only screen and (max-width: 1290px) {
  .header .header__h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  .header .header__h1 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
}

.navbar {
  background-color: #05A8AA;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar__a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 20px;
  color: #C65B7C;
  -webkit-text-stroke: 0.7px #BC412B;
  background-color: #05A8AA;
}
.navbar .navbar__a:hover {
  color: #B8D5B8;
  -webkit-text-stroke: 0.7px black;
}
@media only screen and (max-width: 590px) {
  .navbar .navbar__a {
    font-size: 15px;
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.formContainer .form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Work Sans", sans-serif;
}
.formContainer .form .form__select {
  margin: 10px;
  padding: 5px;
  background-color: #D7B49E;
  border-style: none;
  border: 1px solid #05A8AA;
}
.formContainer .form .form__select option {
  background-color: #D7B49E;
}
.formContainer .form .form__select:hover {
  border: 1px solid #BC412B;
}
@media only screen and (max-width: 550px) {
  .formContainer .form {
    margin: 2px;
  }
}
.formContainer .form .form__btn {
  margin: 7px;
  border-radius: 5px;
  padding: 5px;
  background-color: #698996;
}
@media only screen and (max-width: 550px) {
  .formContainer .form .form__btn {
    margin: 2px;
  }
}
.formContainer .form .form__btn:hover {
  cursor: pointer;
  background-color: #C65B7C;
  color: white;
}
@media only screen and (max-width: 590px) {
  .formContainer .form {
    margin: 0px;
  }
  .formContainer .form .form__select {
    margin: 5px;
    padding: 2px;
  }
  .formContainer .form .form__btn {
    margin: 2px;
    border-radius: 5px;
    padding: 3px;
  }
}

@media only screen and (max-width: 570px) {
  .formContainer {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #C65B7C;
  width: 100vw;
  height: 3.5em;
  color: #05A8AA;
  font-weight: bold;
  font-size: 17px;
  -webkit-text-stroke: 0.7px black;
}
.footer img {
  height: 1.5rem;
  background-color: #C65B7C;
  margin: 5px;
}

@media only screen and (max-width: 590px) {
  .footer {
    font-size: 15px;
  }
  .footer img {
    height: 0.7rem;
  }
}
@media only screen and (max-width: 315px) {
  .footer {
    font-size: 8px;
  }
  .footer img {
    height: 0.7rem;
  }
}

/*# sourceMappingURL=styles.css.map */
