@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #B8D5B8;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #BC412B;
  height: 9em;
  width: 100vw;
}
.header .header__imgContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #BC412B;
}
.header .header__imgContainer .header__imgContainer--imgJob, .header .header__imgContainer .header__imgContainer__img {
  width: 10em;
  height: 7em;
  text-align: center;
  background-color: #BC412B;
}
@media only screen and (max-width: 750px) {
  .header .header__imgContainer .header__imgContainer--imgJob, .header .header__imgContainer .header__imgContainer__img {
    width: 7em;
    height: 7em;
  }
  .header .header__imgContainer .header__imgContainer__img {
    width: 7em;
    height: 7em;
  }
}
.header .header__h1 {
  font-family: "Raleway", sans-serif;
  color: #D7B49E;
  font-size: 62px;
  font-weight: 900;
  text-transform: capitalize;
  background-color: #BC412B;
}
@media only screen and (max-width: 1290px) {
  .header .header__h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  .header .header__h1 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
}

.detailCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #D7B49E;
  border-radius: 15px;
  margin-top: 100px;
  padding: 15px;
  border: 2px solid #05A8AA;
}
.detailCard .imgCardDetails {
  width: 50%;
  height: 45%;
  background-color: #D7B49E;
}
.detailCard .card-body {
  background-color: #D7B49E;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.detailCard .card-body .card-title {
  font-size: 23px;
  color: #05A8AA;
  -webkit-text-stroke: 0.8px black;
  padding: 5px;
  background-color: #D7B49E;
}
.detailCard .card-body .card-description, .detailCard .card-body .card-category, .detailCard .card-body .card-seniority, .detailCard .card-body .card-location {
  font-size: 15px;
  background-color: #D7B49E;
}
.detailCard .card-body .card-description b, .detailCard .card-body .card-category b, .detailCard .card-body .card-seniority b, .detailCard .card-body .card-location b {
  background-color: #D7B49E;
}
.detailCard .btn-container-DeletandEdit {
  background-color: #D7B49E;
}

.spinner {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 50px;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.spinner::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #C65B7C 0%, #05A8AA 100%);
  animation: spin 0.5s infinite linear;
}

.spinner:after {
  width: 85%;
  height: 85%;
  background-color: #B8D5B8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.alertDelete {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 5em;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid red;
  color: red;
  font-size: 15px;
  margin: 3em;
}

.navbar {
  background-color: #05A8AA;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar__a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 20px;
  color: #C65B7C;
  -webkit-text-stroke: 0.7px #BC412B;
  background-color: #05A8AA;
}
.navbar .navbar__a:hover {
  color: #B8D5B8;
  -webkit-text-stroke: 0.7px black;
}
@media only screen and (max-width: 590px) {
  .navbar .navbar__a {
    font-size: 15px;
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.formContainer .form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Work Sans", sans-serif;
}
.formContainer .form .form__select {
  margin: 10px;
  padding: 5px;
  background-color: #C65B7C;
  border-style: none;
  border: 1px solid #05A8AA;
  color: white;
}
.formContainer .form .form__select option {
  background-color: #C65B7C;
}
.formContainer .form .form__select:hover {
  border: 1px solid #BC412B;
}
@media only screen and (max-width: 550px) {
  .formContainer .form {
    margin: 2px;
  }
}
.formContainer .form .form__btn {
  margin: 7px;
  border-radius: 5px;
  padding: 5px;
  background-color: #698996;
  color: white;
  border: 2px solid #698996;
}
@media only screen and (max-width: 550px) {
  .formContainer .form .form__btn {
    margin: 2px;
  }
}
.formContainer .form .form__btn:hover {
  cursor: pointer;
  background-color: #05A8AA;
  color: white;
  border: 2px solid #05A8AA;
}
@media only screen and (max-width: 590px) {
  .formContainer .form {
    margin: 0px;
  }
  .formContainer .form .form__select {
    margin: 5px;
    padding: 2px;
  }
  .formContainer .form .form__btn {
    margin: 2px;
    border-radius: 5px;
    padding: 3px;
  }
}

@media only screen and (max-width: 570px) {
  .formContainer {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.main .main__cardsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.main .main__cardsContainer .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 250px;
  background-color: #D7B49E;
  margin: 25px;
  border-radius: 15px;
  border: 1px solid #C65B7C;
}
.main .main__cardsContainer .card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 70%;
  background-color: #D7B49E;
}
.main .main__cardsContainer .card .card-body .card-title {
  background-color: #D7B49E;
  color: #BC412B;
  font-size: 19px;
}
.main .main__cardsContainer .card .card-body .card-description, .main .main__cardsContainer .card .detailCard .card-body .card-location, .detailCard .main .main__cardsContainer .card .card-body .card-location, .main .main__cardsContainer .card .detailCard .card-body .card-seniority, .detailCard .main .main__cardsContainer .card .card-body .card-seniority, .main .main__cardsContainer .card .detailCard .card-body .card-category, .detailCard .main .main__cardsContainer .card .card-body .card-category {
  background-color: #D7B49E;
  overflow: hidden;
}
.main .main__cardsContainer .card .card-body .card-category {
  background-color: #D7B49E;
  font-size: 12px;
  border-radius: 2px;
}
.main .main__cardsContainer .card .card-body .card-location {
  background-color: #D7B49E;
}
.main .main__cardsContainer .card .card-body .card-location b {
  background-color: #D7B49E;
}
.main .main__cardsContainer .card .card-body .card-seniority {
  background-color: #D7B49E;
  font-size: 12px;
  border-radius: 2px;
}
.main .main__cardsContainer .card .card-body .card-cat-sen {
  display: flex;
}
.main .main__cardsContainer .card .card-body .card-cat-sen .span {
  background-color: #C65B7C;
  padding: 3px;
  margin: 1px;
  color: white;
}
.main .main__cardsContainer .card .btnSeeDet {
  padding: 5px;
  background-color: #05A8AA;
  border: 1px solid #05A8AA;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.main .main__cardsContainer .card .btnSeeDet:hover {
  background-color: #698996;
  cursor: pointer;
  border: 1px solid rgb(134, 7, 202);
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #C65B7C;
  width: 100vw;
  height: 2.8em;
  color: #05A8AA;
  font-weight: bold;
  font-size: 17px;
  -webkit-text-stroke: 0.8px black;
}
.footer img {
  height: 1.5rem;
  background-color: #C65B7C;
  margin: 5px;
}

@media only screen and (max-width: 590px) {
  .footer {
    font-size: 13px;
  }
  .footer img {
    height: 0.7rem;
  }
}
@media only screen and (max-width: 315px) {
  .footer {
    font-size: 8px;
  }
  .footer img {
    height: 0.7rem;
  }
}
.main__prevButton, .backToInto, .remove, .editJobs, .deleteJobs, .main__nextButton {
  padding: 5px;
  width: 70px;
  background-color: #698996;
  border: 1px solid #698996;
  border-radius: 6px;
  margin: 2px;
  color: white;
  font-size: 15px;
}

.main__prevButton:hover, .backToInto:hover, .remove:hover, .main__nextButton:hover, .deleteJobs:hover, .editJobs:hover {
  background-color: #C65B7C;
  cursor: pointer;
}

.remove {
  background-color: red;
  margin: 5px;
}

.remove:hover {
  background-color: black;
}

.backToInto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  background-color: rgb(0, 179, 0);
}

.backToInto:hover {
  background-color: black;
}

/*# sourceMappingURL=styles.css.map */
