//PALLETTE
$backgroundColor:#05A8AA;
$bannerColor:#BC412B;
$linkSinLinea:none;
$lightColor:#B8D5B8;
$pink:#C65B7C;
$navbarBackground:#05A8AA;

//REDES SOCIALES

$twitter: #55acee;
$youtube: #cd201f;

//FONTS
$font--body:'Open Sans', sans-serif;
$font--back:'Montserrat', sans-serif;
$font--tittle:'Raleway', sans-serif;