.formContainer{
    @include center($direction:row, $alingment:center, $justify:center);

    .form{
        @include center($direction:row, $alingment:center, $justify:center);
        flex-wrap: wrap;
        font-family: 'Work Sans', sans-serif;
        .form__select{
            margin: 10px;
            padding: 5px;
            background-color: $pink;
            border-style: $linkSinLinea;
            border: 1px solid $navbarBackground;
            color: $letterFont;

            option{
                background-color: $pink;
            }
        }

        .form__select:hover{
            border: 1px solid $bannerColor;
        }

        @media only screen and (max-width: 550px) {
            margin: 2px;
        }

        .form__btn{
            margin: 7px;
            border-radius: 5px;
            padding: 5px;
            background-color:$almostBlue;
            color: $letterFont;
            border: 2px solid $almostBlue;

            @media only screen and (max-width: 550px) {
                margin: 2px;
            }
        }

        .form__btn:hover{
            cursor: pointer;
            background-color: $navbarBackground;
            color: $letterFont;
            border: 2px solid $navbarBackground;
        }
    }

    @media only screen and (max-width: 590px) {
        .form{
            margin: 0px;

            .form__select{
                margin: 5px;
                padding: 2px;
            }

            .form__btn{
                margin: 2px;
                border-radius: 5px;
                padding: 3px;
            }
        }
    } 
}

@media only screen and (max-width: 570px) {
    .formContainer{
        margin: 0px;
        @include center($direction:column, $alingment:flex-start, $justify:flex-start);
    }
}

.formC{
    @include center($direction:column, $alingment:center, $justify:center);
    background-color: $salmon;
    height: 200px;
    width: 40%;
}