.formContainer{
    @include center($direction:row, $alingment:center, $justify:center);

    .form{
        @include center($direction:row, $alingment:center, $justify:center);
        flex-wrap: wrap;
        font-family: 'Work Sans', sans-serif;
        .form__select{
            margin: 10px;
            padding: 5px;
            background-color: $pink;
            border-style: $linkSinLinea;
            border: 1px solid $navbarBackground;
            color: $letterFont;

            option{
                background-color: $pink;
            }
        }

        .form__select:hover{
            border: 1px solid $bannerColor;
        }

        @media only screen and (max-width: 550px) {
            margin: 2px;
        }
    }

    @media only screen and (max-width: 590px) {
        .form{
            margin: 0px;

            .form__select{
                margin: 5px;
                padding: 2px;
            }

            .form__btn{
                margin: 2px;
                border-radius: 5px;
                padding: 3px;
            }
        }
    } 
}

@media only screen and (max-width: 570px) {
    .formContainer{
        margin: 0px;
        @include center($direction:column, $alingment:flex-start, $justify:flex-start);
        width: 100%;
    }
}

.form-createJob{
    @include center($direction:column, $alingment:center, $justify:center);
    form{
        @include center($direction:column, $alingment:center, $justify:center);
        background-color: $pink;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $navbarBackground;
        margin: 20px;
        padding: 20px;
        
        .form__p{
            background-color: $pink;
            color: black;
            margin: 2px;
            text-align: center;
            border-radius: 7px;
            padding: 4px;

            input{
                @extend .form__p;
                @include center($direction:column, $alingment:center, $justify:center);
                background-color: $letterFont;
                color: black;
                padding: 4px;
            }
        }

        input{
            @extend .form__p;
            border-radius: 7px;
            background-color:$letterFont;
            margin: 7px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .form-createJob{
        @include center($direction:column, $alingment:center, $justify:center);

        form{
            margin:4px;

            input{
                margin:5px;
            }
        }    
    }
}