.main{
    @include center($direction:column, $alingment:center, $justify:center);
    flex-wrap: wrap;

    .main__cardsContainer{
        @include center($direction:row, $alingment:center, $justify:center);
        flex-wrap: wrap;
        
        .card{
            @include center($direction:column, $alingment:center, $justify:center);
            width: 25%;
            height: 250px;
            background-color: $salmon;
            margin: 25px;
            border-radius: 15px;
            border: 1px solid $pink;

            .card-body{
                @include center($direction:column, $alingment:center, $justify:center);
                text-align: center;
                width: 80%;
                height: 70%;
                background-color: $salmon;

                .card-title{
                    background-color: $salmon;
                    color: $bannerColor;
                    font-size: 19px;
                }

                .card-description{
                    background-color: $salmon;
                    overflow: hidden;
                }

                .card-category{
                    background-color: $salmon;
                    font-size: 12px;
                    border-radius: 2px;
                }

                .card-location{
                    background-color: $salmon;
                        b{
                            background-color: $salmon;
                        }
                }

                .card-seniority{
                    background-color: $salmon;
                    font-size: 12px;
                    border-radius: 2px;
                }

                .card-cat-sen{
                    display: flex;

                    
                .span{
                    background-color: $pink;
                    padding: 3px;
                    margin: 1px;
                    color:$letterFont;
                }
            }
        }
        
            .btnSeeDet{
                padding: 5px;
                background-color: $navbarBackground;
                border: 1px solid $navbarBackground;
                border-radius: 5px;
                color:$letterFont;
                font-weight: bold;
            }

            .btnSeeDet:hover{
                background-color:$almostBlue;
                cursor:pointer;
                border: 1px solid rgb(134, 7, 202);
            }
        }
    }

    @media only screen and (max-width: 750px) {
        .main{
            @include center($direction:column, $alingment:center, $justify:center);
        }
    }
}