.detailCard{
    @include center($direction:column, $alingment:center, $justify:center);
    width: 400px;
    height: 400px;
    background-color: $salmon;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid $navbarBackground;

    .imgCardDetails{
        width: 50%;
        height: 45%;
        background-color: $salmon;
    }

    .card-body{
        background-color: $salmon;
        @include center($direction:column, $alingment:center, $justify:center);

        .card-title{
            font-size: 23px;
            color: $navbarBackground;
            -webkit-text-stroke: 0.8px black;
            padding: 5px;
            background-color: $salmon;
        }
    
        .card-description{
            font-size: 15px;
            background-color: $salmon;
    
            b{
                background-color: $salmon;
            }
        }
    
        .card-location{
            @extend .card-description;
        }
    
        .card-seniority{
            @extend .card-description;
        }
    
        .card-category{
            @extend .card-description;
        }
    }

    .btn-container-DeletandEdit{
        background-color: $salmon;
    }
}

@media only screen and (max-width: 990px) {
    .detailCard{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid $navbarBackground;

    }
}

@media only screen and (max-width: 750px) {
    .detailCard{
        margin: 20px 5px;
    }
}
